@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 400;
    src: url('font/Raleway-VariableFont_wght.ttf');
}
body{
    background-color: #B4B7A2
}
h1,H2,h3,h4{
    padding: 25px;
    font-family: 'raleway';
    color: #F57D0D;
}
a{ 
    color: #636363;
    font-family: 'raleway';
    text-decoration: none;
}
.headerCss{
    display: flex;
    background: #C7CAB6;
    border: 1px solid #636363;
    width: 1340px;
    height: 60px;
    align-items: center;
}
#logo{
    align-items:center;
    align-content: center;
    width: 60%;
    height: 50%;
}
#navegation{
    display: flex;
    width: 40%;
    height: 50%;
    gap: 95px;
    align-items:center;
    align-content: center   ;
}
