@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 450;
    src: url('font/Raleway-VariableFont_wght.ttf');
}
@font-face {
    font-family: "ralewayB";
    font-style: normal;
    font-weight: bold;
    src: url('font/Raleway-VariableFont_wght.ttf');
}
body{
    background-color: #B4B7A2;
    overflow-x: hidden;
    width: calc(100vw - (100vw - 100%)); /* Esto tendrá en cuenta el ancho de la barra de desplazamiento */
}
/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 17px; /* Ancho de la barra de desplazamiento */
    background-color: #C7CAB6; /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #636363;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Color de la barra de desplazamiento al pasar el mouse */
}
h4.h4_logo{
    display: inline;
    padding-left: 8px;
    font-family: 'ralewayB';
    color: #F57D0D;
}
h4#h4_especial{
    display: inline;
    padding-left: 30px;
    font-family: 'ralewayB';
    color: #F57D0D;
}
a{
    color: #636363;
    font-family: 'raleway';
    font-size:small;
    text-decoration: none;
}
a#a_especial{
    color: #F57D0D;
    font-family: 'raleway';
    text-decoration: none   ;
}
.headerCss{
    display: flex;
    background: #C7CAB6;
    border: 1px solid #636363;
    width: calc(97vw);
    height: calc(9vh);
    align-items: center;
}
#logo{
    align-items:center;
    align-content: center;
    width: 60%;
    height: 50%;
}
#navegation{
    display: flex;
    width: 40%;
    height: 50%;
    gap: 95px;
    align-items:center;
    align-content: center   ;
}

a:hover{
    color: #F57D0D;
}
a#a_especial:hover{
    color: #636363;
}

/*-------------------SECTION------------------------*/
#d_principal{
    width: calc(97vw);
    height: calc(30vh);
    align-items: center;
    align-content: center;
}
h1.titleMain{
    font-family: 'ralewayB';
    display: inline;
    color: #F57D0D;
    font-size: 50px;
    padding-left: 25px;
    padding-bottom: 0px;
}

p.pTitle{
    font-family: 'raleway';
    color: #636363;
    padding-left: 25px;
}
.divImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(97vw);
    height: calc(50vh);
}
.divFlecha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(97vw);
}
.paraCentrarFlecha{
    width: 660px;
}
/*-------------------FOOOTER------------------------*/
h1.h1Preg{
    color: #636363;
    padding: 0PX;
}
h1.h1PregNaranja{
    padding: 0px;
}
.divFinal{
    display: block;
    gap: 50px;
    width: calc(97vw);
    height: calc(90vh);
}
.reco{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
}
.blockReco{
    background-color: #C7CAB6;
    border: 1px solid #636363;
    padding: 0px;
    text-align: center;
    width: 15%;
    height: 90%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
h3.textReco{
    font-family: 'raleway';
    color: #F57D0D;
}
p.pReco{
    padding: 5px;
    font-family: 'raleway';
    color: #636363;
}
.imgReco{
    padding-top: 20px;
}
#des{
    display: flex;
    align-content: center;
    justify-content: center ;
}